<app-modal-kontakt></app-modal-kontakt>
<div class="content">
    <app-header></app-header>
    <div id="Phase1">
        <p>Mein Wunsch für Sie - Inspiration
        </p>
  </div>


  <div id="Phase2" >
      <div id="ImgBox"><img id="ImgBirne" src="../../assets/InspirationImg2.jpg">
      </div>
      <div id="textBox">
        <p class="TextP2">Ein Leben in Gesundheit, Kraft und Harmonie führen, im Einklang mit sich selbst und anderen Menschen, wer wünscht sich das nicht!?
        </p>
      </div>
      <div class="arrow"><span></span></div>
    </div>




 


    <div id="Phase3">
     

    
          <p>Doch oftmals ist es nicht leicht, in unserer Mitte zu bleiben, inneren Frieden zu spüren und auch mit unseren Liebsten in Harmonie zu leben. Was hindert uns manchmal daran? Die Lebensweise unserer heutigen Zeit bringt besondere Herausforderungen mit sich. Oftmals überfordern wir uns, haben hohe Ansprüche an uns selbst, oder wollen Ansprüche anderer erfüllen. Privat und beruflich gibt es zahlreiche Schwierigkeiten zu meistern. Zudem können uns vielfältige Umweltbelastungen zu schaffen machen. Zahlreiche chemische Zusatzstoffe in unseren Nahrungsmitteln und im Trinkwasser, Umweltgifte, Strahlenbelastungen, Elektrosmog und der Einsatz von Medikamenten in der Viehzucht belasten die Menschen und bringen bei vielen das Fass zum Überlaufen. Das zeigt sich in Form von unklaren Befindlichkeitsstörungen, chronischer Müdigkeit bis hin zu schwerwiegenden körperlichen und psychischen Störungen. <br>
              Den Lärm in den Städten nehmen wir vielleicht gar nicht mehr bewusst wahr. Zudem ist alles im Wandel und wir spüren vielleicht eine mehr oder weniger große Unsicherheit. Das alles sind Stressfaktoren. Zudem wollen wir es manchmal allen anderen Menschen um uns herum recht machen und verlieren uns selbst dabei aus den Augen. Das alles kostet Kraft und lässt uns nicht zur Ruhe kommen. Dann passiert es schnell, dass ständig kreisende Gedanken um die Zukunft uns quälen oder wir hängen vergangenen Zeiten nach. Jedenfalls sind wir dann nicht da wo wir sein sollten, nämlich präsent in der Gegenwart.<br>
              Eckhart Tolle schreibt in seinem Buch „Jetzt – Die Kraft der Gegenwart“ sehr einleuchtend darüber, wie sehr uns unsere innere Gedankenwelt, mit der wir uns meistens identifizieren, beeinträchtigen kann. Dabei könnte sie doch als wunderbares Werkzeug dienen. Und wenn wir es schaffen, völlig präsent zu sein, fühlen wir keine Angst. Selbst in brenzligen Situationen könnten wir besser handeln ohne uns von Angst lähmen zu lassen.<br>
              Wie können wir also in unsere heile Mitte, in unseren kraftvollen Ruhepol kommen? „In der Ruhe liegt die Kraft“ - das ist bekannt! Jeder, der diese innere Ruhe spürt, ist angeschlossen an seinen heilen, kraftschöpfenden Kern, wo alles gut ist, alles so sein darf wie es ist und liebevolle Annahme gefühlt werden kann. 
              Aus diesem Bewusstsein heraus kann positive Veränderung und Heilung einer unangenehmen Lebenssituation geschehen. Ein hilfreicher Weg zur Verbesserung einer schwierigen Situation ist:  
              <br><br>
              Erst einmal annehmen, atmen und akzeptieren was ist (sich selbst, eine andere Person, die Umstände).
              Schon dieser wichtige Schritt in die richtige Richtung führt zu mehr Bewusstheit, Klarheit und schafft dadurch die Möglichkeit zur positiven Veränderung. <br>
              Je mehr jemand in seiner inneren Mitte ruht, sich selbst akzeptiert und lieben kann, desto mehr kann er auch seine Mitmenschen lieben und so sein lassen, wie sie sind. 
              Machen Sie also Sich selbst und anderen Ihre bedingungslose Selbstliebe zum Geschenk.
              
          </p>
        </div>
   
<div class="Phase4Titel"><div class="titelP4">Fragen Sie sich:</div></div>
    <div id="Phase4">
      
        <div class="QList"><ul>
          <li><a>Wie kann ich mich selbst mehr lieben und achten? </a></li>
          <li><a>Welche Bedürfnisse habe ich wirklich? </a></li>
          <li><a>Warte ich darauf, dass ein anderer sie mir erfüllt? </a></li>
          <li><a>Erlaube ich es mir, mir meine Bedürfnisse zu erfüllen? </a></li>
          <li><a>Warte ich auf die Zukunft, wo sich das Gewünschte vielleicht ereignen wird? </a></li>
          </ul>
        </div>
  </div>
  <div class="Phase5Titel"><div class="titelP5">Die Antworten:</div></div>
    <div id="Phase5">
      
        <div class="AList"><ul>
          <li><a>brauchen Mut </a></li>
          <li><a>schlummern in mir </a></li>
          <li><a>wollen ans Licht </a></li>
          <li><a>schaffen Klarheit </a></li>
          <li><a>geben Kraft </a></li>
          </ul>
        </div>
  </div>
  
  <div id="Phase6">
      <p id="TextP6">Gerne möchte ich Sie durch meine Angebote auf dem Weg dorthin unterstützen und freue mich darauf, Sie kennenzulernen.</p>
    </div>

</div>