<!-- Dropdown Structure -->

<ul id="dropdown1" class="dropdown-content">
    <li><a href="/gespraeche">Gespräche in der Natur</a></li>
    <li class="divider"></li>
    <li><a href="/entspannung">Entspannung durch Klangmassage</a></li>
    <li class="divider"></li>
    <li><a href="/klangreise">Klangreise</a></li>
    <li class="divider"></li>
    <li><a href="/ernaehrung">vitalstoffreiche Ernährung - gesundes Wasser</a></li>
  </ul>

  <!-- -->

  <!-- Sidenav Structure -->
  <ul id="slide-out" class="sidenav">
        <li><a href="/home">Home</a></li>
        <li><a href="/inspiration">Inspiration</a></li>
        <li><a href="/persoenliches">Persönliches</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Meine Angebote<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                  <li><a href="/gespraeche">Gespräche in der Natur</a></li>
                  <li class="divider"></li>
                  <li><a href="/entspannung">Entspannung durch Klangmassage</a></li>
                  <li class="divider"></li>
                  <li><a href="/klangreise">Klangreise</a></li>
                  <li class="divider"></li>
                  <li><a href="/ernaehrung">vitalstoffreiche Ernährung - <br>
                    gesundes Wasser</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>  



  <div class="navbar-fixed" id="Header">
  <nav class="transparent">
    <div class="nav-wrapper">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="#!" class="brand-logo"><img src="../../assets/Logo.png" height="80%" width="80%"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/inspiration">Inspiration</a></li>
        <li><a href="/persoenliches">Persönliches</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" data-target="dropdown1">Meine Angebote<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
  </div>
  </nav>
  </div>
   