a:hover {
    text-decoration: none;
    color: white;
}

a {
    font-family: 'Gabriola';   
    font-size: 20pt !important; 
}

#dropdown1 {
    top: -64px;
}

#dropdown1 a {
    font-size: 14pt !important;
}

#dropdown1 a:hover {
    color: black;
}

nav {
    position: fixed;
    padding: 0px 0px;
    padding-left: 10px;
    margin: 0px 0px 0px 0px;
    transition: .7s ease-in;
} 

.card-panel {
    transition: .7s ease-in;
}

@media only screen and (max-width: 900px){
    #slide-out a:hover {
        color: black;
    }

    #slide-out a {
        font-size: 15pt;
    }

    nav {
        height: 65px;
    }
    }