

footer.page-footer {
    position: relative;
    margin: 0;
    bottom: 0;
  }
  
  

  #contact:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  #impressum {
    color: white;
  }

  #impressum:hover {
    text-decoration: none;
  }

  #quellen {
    color: white;
  }

  #quellen:hover {
    text-decoration: none;
  }

@media (max-height: 500px) and (min-width: 500px) and (max-width: 900px) {
  .footer-copyright .container{
    transform:translate(2.5%, 0);
  }
}

@media only screen and (min-height: 500px) and (max-width: 450px) {
  .footer-copyright .container{
    transform:translate(5%, 0);
  }
}