<app-modal-kontakt></app-modal-kontakt>
<app-modal></app-modal>
<div class="content">
    <app-header></app-header>
    <app-btn-anmeldung></app-btn-anmeldung>
    <div id="Phase1">
        <p>Klangreise
        </p>
  </div>

  <div id="Phase2">
      <div id="ImgBox"><img id="ImgFlowers" src="../../assets/klangreiseImgP2.jpg">
      </div>
      <div id="textBox">
        <p class="TextP2">Während einer Klangreise können Sie durch die Wahrnehmung sanfter und heilsamer Klänge in einen Zustand tiefster Entspannung und innerer Realität eintreten. Diese Phase können Sie dann nutzen, um mit dem Unterbewusstsein in Kontakt zu treten, um z.B. innere Prozesse anzustoßen, oder mehr Klarheit in anstehenden Lebensentscheidungen zu erreichen. Die Möglichkeiten sind im Grunde unbegrenzt. Auf jeden Fall bestimmen Sie, wohin die Reise geht.
            Ich unterstütze Sie als Begleiterin dann sehr gerne auf Ihrem Weg zum Erreichen Ihrer Ziele und Wünsche.
            
        </p>
        
      </div>
      <div class="arrow"><span></span></div>
    </div>
  
      <div id="Phase3">
              <p >„Versöhne dich mit deiner Vergangenheit, stecke dir Ziele für die Zukunft, und lebe in der Gegenwart.“
              </p>
        </div>
     <app-angebotsuebersicht></app-angebotsuebersicht>
     </div>