<app-modal></app-modal>
<app-modal-kontakt></app-modal-kontakt>
<div class="content">
  <app-header></app-header>
  <app-btn-anmeldung></app-btn-anmeldung>
  <div id="Phase1">
    <p>Entspannung durch Klangmassage
    </p>
  </div>

  <div id="Phase2">
    <div class="ImgBoxP2"><img id="ImgMuster" src="/assets/Muster.jpeg"></div>
    <div class="TextP2">
      <p>Gönnen Sie Sich eine Klangmassage und genießen Sie einfach diese wohltuende und entspannende Wirkung. Eine
        Klangbehandlung kann anregen, beruhigen oder auch Tore zu Bereichen unseres Bewusstseins öffnen, die uns sonst
        verschlossen sind. Sie kann helfen, blockierte Chakren (Energiezentren des Körpers) zu öffnen und zu
        harmonisieren, damit die Energie wieder frei fließen kann. Blockierte Chakren können sich sowohl auf die Psyche
        als auch unseren Körper negativ auswirken. Sind dagegen die Chakren geöffnet, fühlt man sich stark und gesund,
        frei, selbstbewusst und mit der Natur verbunden. Instinkte, Gefühle und Geist arbeiten dann harmonisch zusammen.
        Gerade in der heutigen Zeit ist es wichtig, Methoden zu nutzen, mit denen wir unsere innere und äußere Welt in
        Harmonie bringen können. <br> Mit Klangschalen gelingt das auf wunderbare Art und Weise.


      </p>
    </div>
    <div class="arrow"><span></span></div>
  </div>
  <div class="Phase3Titel">
    <div class="titelP3">eine Klangmassage:</div>
  </div>
  <div id="Phase3">
    <div class="List">
      <ul>
        <li><a>fördert die Tiefenentspannung </a></li>
        <li><a>löst Spannungen und Blockaden </a></li>
        <li><a>stärkt das Immunsystem </a></li>
        <li><a>wirkt beruhigend bei Ängsten </a></li>
        <li><a>aktiviert die Selbstheilungskräfte bei chronischen Erkrankungen</a></li>
        <li><a>lindert chronische Rücken- und Kopfschmerzen </a></li>
      </ul>
    </div>
  </div>
  <app-angebotsuebersicht></app-angebotsuebersicht>

</div>