
 


<!-- <div class="parallax-container"  id="Phase3">
    <div class="parallax"><img src="/assets/backgroundP3.jpg"></div> -->

  
  <div id="PhaseX">
      <div id="TitelPX"><p>Meine Angebote für Sie:</p></div>
  <section class="cards">
    <article class="card card--1">
      
      <div class="card__img s6"></div>
      <a href="/gespraeche" class="card_link">
         <div class="card__img--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Lebensklärung</span>
        <h3 class="card__title">Gespräche in der Natur</h3>
        <span class="card__mit">mit <a href="/persoenliches" class="card__author" title="author">Petra Dyck</a></span>
      </div>
    </article>
      
      
    <article class="card card--2">
      <div class="card__img"></div>
      <a href="/entspannung" class="card_link">
         <div class="card__img--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Entspannung</span>
        <h3 class="card__title">Entspannung durch Klangmassage</h3>
        <span class="card__mit">mit <a href="/persoenliches" class="card__author" title="author">Petra Dyck</a></span>
      </div>
    </article>  
      
    <article class="card card--3">
      <div class="card__img"></div>
      <a href="/klangreise" class="card_link">
         <div class="card__img--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Entspannung</span>
        <h3 class="card__title">Klangreise</h3>
        <span class="card__mit">mit <a href="/persoenliches" class="card__author" title="author">Petra Dyck</a></span>
      </div>
    </article>


    <article class="card card--4">
      <div class="card__img"></div>
      <a href="/ernaehrung" class="card_link">
         <div class="card__img--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category"> Beratung</span>
        <h3 class="card__title">vitalstoffreiche Ernährung - gesundes Wasser</h3>
        <span class="card__mit">mit <a href="/persoenliches" class="card__author" title="author">Petra Dyck</a></span>
      </div>
    </article>
      
      </section>
 </div>
