<div id="modal-gwasser" class="modal">
  <div class="modal-inner">
    <div id="ModalPhase1">
      <p>gesundes Wasser
      </p>
    </div>
    <div id="ModalPhase2">
      <p>Unser Leitungswasser ist schon lange nicht mehr so gut, wie wir allgemein annehmen oder vielleicht einfach nur
        hoffen. Je nach Region ist es mehr oder weniger mit Schadstoffen wie Nitrit, Arsen, Quecksilber, Blei und
        anderen Schwermetallen, Medikamentenrückständen, Hormonen (Pille), Chlor, Herbiziden, Pestiziden und vielem mehr
        belastet. </p>
    </div>
    <div id="ModalPhase3">
      <p>Deshalb macht es Sinn, unser Trinkwasser zu reinigen und zu vitalisieren. </p>
    </div>
    <div id="ModalPhase4">
      <div id="ModalText">
        <p>Es gibt viele unterschiedliche Wasserfiltersysteme und Möglichkeiten der Wasseroptimierung. Ganz vorne auf
          dem Markt ist der ECAIA - Wasserfilter der Firma Sanuslife: <a href="https://wasserwesen.sanuslife.com/"> www.wasserwesen.sanuslife.com </a>
          ECAIA steht für: ENERGIZED, CLEAN, ALKALINE, IONIZED, ANTIOXIDANT
          <br>
          <br>
          Das Besondere an diesem Wasserfilter ist, dass er nicht nur reines, von Schadstoffen befreites Wasser
          herstellen kann, sondern es wird auch in einem besonderen Verfahren optimiert. Es wird basisch gemacht und
          hilft somit, den Säure-Basenhaushalt im Körper zu regulieren. (Das ist sehr wichtig für die Gesundheit, denn
          oftmals sind wir modernen Menschen in der heutigen Zeit durch Stress und falsche Ernährung übersäuert).
          Weiterhin transportiert dieses Wasser mehr Sauerstoff und Nährstoffe zu den Zellen. Es besitzt ein hohes
          antioxidantes Potential und ist somit imstande, mit Hilfe der freien Elektronen gefährliche freie Radikale zu
          neutralisieren.
        </p>
      </div>
      <div id="ModalImg2">
      </div>
    </div>
  </div>
</div>