<app-modal></app-modal>
<app-modal-kontakt></app-modal-kontakt>
<div class="content">
  <app-header></app-header>
  <app-btn-anmeldung></app-btn-anmeldung>
  <div id="Phase1">
     
    <audio controls id="schritte" autoplay>
      <source src="../../assets/Schritte.mp3" type="audio/mpeg">
      <p>If you can read this, your browser does not support the audio element.</p>
    </audio>
    
    <p>Gespräche in der Natur</p>
    <div id="audioquelle">
      
    </div>
  </div>
  <a class="linkAudioSource" href="https://gilaantara-cdvertrieb.com/">[Audioquelle: © Gila
    Antara | gilaantara-cdvertrieb.com]</a>
  <div id="Phase2">
      
    <div id="textBox">

      <p class="TextP2">„Traue niemals einem Gedanken, der dir im Sitzen gekommen ist!“
      </p>
    </div>
    <div id="ImgBoxP2"><img id="ImgPlant" src="../../assets/GespraecheImgP2.jpg"></div>
    <div class="arrow"><span></span></div>
  </div>

  <div id="Phase3">
    <div class="ImgBoxP3"><img id="ImgForest" src="../../assets/ImgP3.jpg"></div>
    <div class="TextP3">
      <p>Die Natur zeigt uns das Wesentliche: die Fülle, die Schönheit trotz Vergänglichkeit, das harmonische
        Miteinander ohne Bewertung, das Ganze Auf und Ab des Lebens und die wunderbare Vielfalt.
        Alles ist einfach so wie es ist. <br>
        Wir können in der Natur erfahren, dass wir ein Teil von etwas Größerem sind. <br>
        Beim Spaziergang durch die Natur lässt es sich leichter über die belastenden Themen des Lebens sprechen. Hier
        sind wir geborgen und auf natürliche Weise mit unseren Selbstheilungskräften verbunden. Vielleicht möchten auch
        Sie ein Gespräch über ein Thema führen, das Ihnen am Herzen liegt. (Bei sehr ungemütlichem Wetter natürlich auch
        gerne im Haus bei einer Tasse heißem Tee). In jedem Fall wird es für Sie inspirierend sein und Sie gewiss einen
        Schritt weiterbringen. Durch meine Ausbildung als staatlich geprüfte Heilpraktikerin für Psychotherapie bin ich
        darin geschult, heilsame Gespräche zu führen. Eine offene, neutrale und wertschätzende Haltung ist mir wichtig
        und die Schweigepflicht ist mir eine Selbstverständlichkeit.
      </p>
    </div>
  </div>

  <app-angebotsuebersicht></app-angebotsuebersicht>

</div>