<div id="modal-avs" class="modal">
  <div class="modal-inner">
    <div id="ModalPhase1">
      <p>Ausleitung von Schadstoffen
      </p>
    </div>
    <div id="ModelPhase2"></div>
    <div id="ModalPhase3">
      <div id="ModalImg2">
      </div>
      <div id="ModalText">
        <p>Der menschliche Körper verfügt über große Selbstheilungskräfte und ein wunderbares Regulationssystem. Es ist
          allerdings wichtig, den Körper von Schadstoffen zu befreien, damit er diese Leistung auch erbringen kann.
          Dieses lässt sich mit Hilfe von Zeolith (z.B. Panaceo - Basis Detox-Kapseln) erreichen. Es sind beides
          Naturprodukte vulkanischen Ursprungs, also Lavagestein. <br>
          Schon im alten Ägypten und im alten Griechenland wurde es geschätzt, siliziumhaltige Tonerde und Pflanzen wie
          das Zinnkraut in der Naturheilkunde einzusetzen. <br> 
          Weitere Informationen u.a. unter: <a href="https://www.praxis-bioenergetik.de/"> www.praxis-bioenergetik.de </a>
          Eine weitere Möglichkeit der Ausleitung von vielfältigen Schadstoffen, die für verschiedene Krankheitsbilder
          wie Rheumatoide Arthritis, Multiple Sklerose, Fibromyalgie, Diabetes Typ 2, Migräne, Depression oder für das
          Müdigkeitssyndrom verantwortlich sein sollen, bietet die natürliche Methode nach Anthony William über die es
          sich unbedingt lohnt zu recherchieren oder sich beraten zu lassen!
        </p>
      </div>
    </div>
    <div id="ModelPhase2"></div>
  </div>
</div>