<div id="modal-vnahrung" class="modal">
  <div class="modal-inner">
    <div id="ModalPhase1">
      <p>vitalstoffreiche Nahrung
      </p>
    </div>
    <div id="ModelPhase2"></div>
    <div id="ModalPhase3">
      <div id="ModalImg2">
      </div>
      <div id="ModalText">
        <p>Sind Sie zufrieden mit Ihrer Ernährung und fühlen Sie sich energiegeladen, widerstandsfähig und leicht? Oder
          finden Sie, dass es hier noch Verbesserungsmöglichkeiten gibt? Wünschen Sie Sich eine vitalstoffreiche
          Ernährung die Sie leicht in Ihrem Alltag umsetzen können, fallen aber doch immer wieder, vielleicht aus
          Zeitmangel, in die Angewohnheit zurück zu viel oder ungesund zu essen? Aus eigener Erfahrung weiß ich, dass es
          ein etwas längerer Weg sein kann, seine Ernährung positiv zu verändern und zu optimieren. Doch es lohnt sich
          immens! Ihr Körper dankt es Ihnen und Sie fühlen sich wieder gestärkt.
          Orientieren Sie Sich an der Natur, an natürlichen, frischen Lebensmitteln und vertrauen Sie Ihrem „gesunden
          Menschenverstand.“ Lassen Sie Sich begeistern und ermutigen um mit Freude das Leben und seine Köstlichkeiten
          zu genießen.
          Begeistert und überzeugt haben mich vor allem die Bücher von Anthony William:
        </p>
      </div>
    </div>
    <div id="ModalPhase4">
      <p>Mediale Medizin, Medical Food, Heile deine Schilddrüse und Heile deine Leber. </p>
    </div>
    <div id="ModalPhase5">
      <p>Deshalb begleite ich Sie gerne in Ernährungsfragen basierend auf Anthony Williams Methode, die sich an der
        Natur orientiert und auch Sie überzeugen und Ihnen vor allem helfen wird.</p>
    </div>
  </div>
</div>