<app-modal-kontakt></app-modal-kontakt>
<div class="content">
  <div id="Phase1">
    <app-header></app-header>

    <div class="container">
      <div class="Home">
        <div id="slideshow">
          <div class="elemnt"><br><br>
            <div class="TextP1">
              <h1 class="TitelP1">Lebensklärung </h1>
            </div>
          </div>
          <div class="elemnt1"><br><br>
            <div class="TextP1">
              <h1 class="TitelP1">Ernährungsberatung</h1>
            </div>
          </div>
          <div class="elemnt2"><br><br>
            <div class="TextP1">
              <h1 class="TitelP1">Entspannung</h1>
            </div>
          </div>
        </div>
        <div class="arrow">
          <span></span>
        </div>
      </div>
    </div>
  </div>

  <div id="Phase2">

      <p class="title">Gesundheit und Therapie</p>
    <div id="ImgBox"><img id="ImgPetra" src="../../assets/Petra.jpeg">
    </div>
    
    <p class="Einleitung">Herzlich willkommen auf meiner Homepage.
      Lassen Sie Sich inspirieren und treffen Sie eine liebevolle Entscheidung für sich selbst und ein Leben in
      Harmonie und Wohlbefinden.
      <br><br>
      - Petra Dyck -
    </p>
  </div>


  <app-angebotsuebersicht></app-angebotsuebersicht>

  <div id="Phase4">
    <p id="TextP4">Verschaffen Sie sich einen Einblick in spannende Themen</p>
  </div>
</div>