<app-modal-kontakt></app-modal-kontakt>
<div class="content">
  <app-header></app-header>
  <div id="Phase1">
    <p>Persönliches
    </p>
    <div id="ImgBox1"><img id="ImgPetra" src="../../assets/Petra.jpeg">
    </div>
  </div>

  <div id="Phase2">
    <div id="ImgBox2"><img id="ImgTea" src="../../assets/PersoenlichesImgP2.jpg">
    </div>
    <div id="textBox">
      <p class="TextP2">Mein besonderes Interesse galt steht´s den Menschen in meiner Umgebung. Meine Familie gab und
        gibt mir stets viel Inspiration und veranlasst mich über die oftmals komplizierten Zusammenhänge des
        Miteinanders nachzudenken. Ich bin Mutter von drei wunderbaren Kindern und freue mich über meine sechs Enkelkinder.
        Das Leben ist wunderbar, spannend und ab und zu auch mal etwas anstrengend. Doch alles lohnt sich!
        Immer öfter in der eigenen Mitte ruhen, immer bewusster werden und immer mehr die Zusammenhänge des Lebens
        verstehen können ist mein inneres Ziel. 
        Meine Ausbildungen und meine Arbeit helfen mir dabei.        
      </p>
    </div>
    <div class="arrow"><span></span></div>
  </div>

  <div id="Phase3" class="row">
      <p>In meiner Ausbildung zur staatlich geprüften Heilpraktikerin für Psychotherapie konnte ich wertvolle
          Erkenntnisse über die Wirkung der Seele auf den Menschen gewinnen und verschiedene Therapieformen z.B. Arbeit
          mit dem Unterbewusstsein (Kathathymes Bilderleben) und Gesprächstherapie nach Rogers erlernen.
          Die Ausbildung zur Gesundheitsberaterin (VHS) begeisterte mich für gesunde Ernährung, Entgiftung und
          Vitalisierung des Körpers.
      </p>
  </div>

 
    <div id="Phase4">
      <p>Geht es uns gut, können wir unsere Lebensfreude wieder besser spüren und ihr auch Ausdruck geben, z.B mit Musik
        und Tanz! Mit großer Freude erlebe ich immer wieder für mich selbst und mit anderen Menschen zusammen, dass
        Klang, Gesang und Tanz eine heilsame Wirkung haben.
      </p>
    </div>
    <div id="Phase5">
      <p id="TextP5">„Lieder und Klänge können Herzen öffnen und die Schwingung erhöhen“.
        „Jeder einzelne kleine Schritt in der Frequenzerhöhung bringt einen Perspektivwechsel mit sich. Sobald die
        eigene Frequenz höher liegt als die Frequenz des Problems, wird es nicht mehr als ein Problem wahrgenommen“.
        (Christina von Dreien)
      </p>
    </div>
</div>