<app-modal-kontakt></app-modal-kontakt>
<app-modal-vnahrung></app-modal-vnahrung>
<app-modal-gwasser></app-modal-gwasser>
<app-modal-avs></app-modal-avs>
<app-modal></app-modal>

<div class="content">
  <app-header></app-header>
  <div class="AnmeldeButton">
    <button id="register" class="button"><span>Für diesen Kurs anmelden </span></button>
  </div>

  <div id="Phase1">
    <p>Vitalstoffreiche Ernährung - gesundes Wasser
    </p>
  </div>
  <div id="Phase2">

    <div class="AllSquares">
      <h1>Unser Körper ist wichtig. Wenn wir uns in ihm nicht wohlfühlen, leidet die Psyche, das soziale mit einander,
        einfach alles darunter. <br> Darum treffen Sie eine liebevolle und wertschätzende Entscheidung:
      </h1>
      <div class="HorizontalSquares">
        <div class="TextBox" id="BoxInfoVN">
          <p id="TextPreis1">Lassen Sie nur vitalstoffreiche Nahrung, sowie...
          </p>
          <p id="infoVN">weitere Information</p>
        </div>
        <div class="Food"><img id="ImgFood" src="../../assets/ErnaehrungImg2.jpg"></div>
      </div>
      <div class="HorizontalSquares">
        <div class="Water"><img id="ImgWater" src="../../assets/ErnaehrungImg3.jpg"></div>
        <div class="TextBox" id="BoxInfoGW">
          <p id="TextPreis1">...gesundes Wasser in Ihren Körper.
          </p>
          <p id="infoGW">weitere Information</p>
        </div>
      </div>
      <div class="HorizontalSquares">
        <div class="TextBox" id="BoxInfoAVS">
          <p id="TextPreis2"> <b> Sorgen Sie regelmäßig für die Entgiftung durch Ausleitung von Schadstoffen. </b>
          </p>
          <p id="infoAVS">weitere Information</p>
        </div>
        <div class="Herbs"><img id="ImgHerbs" src="../../assets/ErnaehrungImg4.PNG"></div>
      </div>
      <div class="HorizontalSquares">
        <div class="ImgPreis"><img id="ImgPlant" src="../../assets/ErnaehrungImg5.jpg"></div>
        <div class="TextBoxLast" >
          <p id="TextPreis3">Es ist nicht leicht, Ernährungsgewohnheiten zu verändern, auch wenn es einem gut tun würde,
            außerdem gibt es viele Verunsicherungen zu diesem Thema.
            Ich freue mich, wenn ich Ihnen auf Ihrem ganz persönlichen Weg zu mehr Vitalität und Lebensfreude beratend
            zur Seite stehen kann, damit Sie eine Ihnen angemessene und praktizierbare Lösung für sich finden können.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="Phase3"></div>
  <app-angebotsuebersicht></app-angebotsuebersicht>
</div>